
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This would be my admin page... IF I HAD ONE</title>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Log Out", "LogIn", "LogIn")

            </div>
        </div>
    </div>
</head>
<body>
    <div> 
        <h1>This would be my admin page... IF I HAD ONE</h1>
    </div>
</body>
</html>
