@model University.Users.Student

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<div>
    <br />
    <br />
@using (Html.BeginForm("CheckLogInInfo", "LogIn"))
{
    <div>Email:    @Html.TextBoxFor(x => x.Email, new { @placeholder = "your email" }) </div>
    <div>password: @Html.PasswordFor(x => x.Password, new { @placeholder = "your password" }) </div>
    <br />
    <input type="submit" class="btn btn-success"value="LogIn" />

    <br />
    <p>@University.Global.currentError</p>
}
</div>

